/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-praymari {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFF;
    border-radius: 5px;
    border: 0px;
    background: #FD6E0A;
    font-size: 20px;
padding: 17px 30px;
    font-weight: 700;
}


/* nav releted style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header releted styles */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding:30px 30px 30px 150px ;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}